<div class="loginWrapper">

<div class="login">
  <div class="loginContent">
    <h2 class="keyHeader" style="flex-grow:2">Key Trader</h2>
    <div id="discordParent">
      <button class="discordBtn" onclick="window.location.href =  '/api/discord/login';">Login with Discord</button>
    </div>
    <p id="noAccount">Don't have an account? <a href="https://discordapp.com/register" target="_blank">Sign up</a></p>
  </div>
  <img class="circles" src="assets/SVG/circles.svg">
</div>
<div class="graphic">
  <img class="discordGraphic" src="assets/SVG/phone.svg"/>
  <img class="greenBoi" src="assets/SVG/greenBoi.svg">
  <img class="blueBoi" src="assets/SVG/blueBoi.svg">
  <img class="line" src="assets/SVG/line.svg">
</div>


</div>
