<div class="serverListing">
  <app-nav-menu></app-nav-menu>
  <div id="pageWrapper">

    <div class="serverSection">
      <div class="headerWrapper">
        <h2 class="serverHeader">Servers Where You are Owner</h2>
      </div>

      <div >
        <div *ngIf="loading" class="loading">
          <app-swapping-squares-spinner
            [animationDuration]="1000"
            [size]="40"
            [color]="'#0CDAC2'"
          ></app-swapping-squares-spinner>
        </div>

        <div *ngIf="!loading" class="serversWrapper">
          <mat-card class="serverCard" *ngIf="this.servers.length === 0">
            <mat-card-header class="serverCardHeader">

            </mat-card-header>
            <mat-card-content>
              <h4 class="serverName">Create a server to get started</h4>
            </mat-card-content>
          </mat-card>

          <mat-card class = "serverCard" *ngFor="let server of this.servers">
            <mat-card-header class="serverCardHeader">

            </mat-card-header>
            <mat-card-content>
              <h4 class="serverName">{{server.serverName}}</h4>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button (click)="linkServer(server)" class="serverBtn">LINK TO KEY TRADER</button>
            </mat-card-actions>
          </mat-card>

        </div>
      </div>
    </div>

    <div class="serverSection">
      <div class="headerWrapper">
        <h2 class="serverHeader">Your Servers that use KeyTrader</h2>
      </div>
      <div class="servers">
        <div *ngIf="loading" class="loading">
          <app-swapping-squares-spinner
            [animationDuration]="1000"
            [size]="40"
            [color]="'#0CDAC2'"
          ></app-swapping-squares-spinner>
        </div>

        <div *ngIf="!loading">
          <div *ngIf="!loading" class="serversWrapper">
          <mat-card class="serverCard" *ngIf="this.linkedServers.length === 0">
            <mat-card-header class="serverCardHeader">

            </mat-card-header>
            <mat-card-content>
              <h4 class="serverName">None of your servers use KeyTrader :(</h4>
            </mat-card-content>
          </mat-card>

          <mat-card class="serverCard" *ngFor="let linkedServer of this.linkedServers">
            <mat-card-header class="serverCardHeader">

            </mat-card-header>
            <mat-card-content>
              <button class="settingsBtn" (click)="serverSettings(linkedServer)"><fa-icon [icon]="settingsIcon"></fa-icon></button>
              <h4 class="serverName">{{linkedServer.serverName}}</h4>
            </mat-card-content>
            <mat-card-actions style="display:flex; ">
              <button mat-raised-button (click)="addKey(linkedServer)" id="addKey" class="serverBtn">ADD KEY</button>
              <button mat-raised-button (click)="seeKeys(linkedServer)" id="viewKey" class="serverBtn">VIEW KEYS</button>
            </mat-card-actions>
          </mat-card>

          </div>
        </div>

      </div>
    </div>

  </div>
</div>
