.loggedOutWrapper {
  background-color:white;
  background-image: url("/assets/SVG/keyBG.svg");
  background-size:cover;
  width:95vw;
  height:95vh;
  border-radius:20px;
  display:flex;
  align-items: center;
  justify-content: center;
}
.innerArea {
  display:flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.90);
}
#loggedOutHeader{
  font-family: 'Varela Round', sans-serif;
  color:#7289DA;
}
#keyHole {
  height: auto;
  width:25%;
  filter: drop-shadow(30px 10px 4px rgba(0, 0, 0, 0.67));
  margin:20px;
}

.loginBtn {
  background-color: #7289DA;
  color:white;
}
